/Src/KojackGames.Blackjack/.vs/KojackGames.Blackjack/config/applicationhost.config
/Src/KojackGames.Blackjack/.vs/KojackGames.Blackjack/v16/.suo
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/Antlr3.Runtime.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/Cassini.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/CassiniWebServer.exe
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/Iesi.Collections.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/Interop.SHDocVw.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/KojackGames.Blackjack.Acceptance.Tests.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/KojackGames.Blackjack.Acceptance.Tests.dll.config
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/KojackGames.Blackjack.Acceptance.Tests.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/KojackGames.Blackjack.Domain.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/KojackGames.Blackjack.Domain.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/KojackGames.Blackjack.Infrastructure.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/KojackGames.Blackjack.Infrastructure.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/Microsoft.mshtml.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/NHibernate.ByteCode.Castle.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/NHibernate.ByteCode.Castle.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/NHibernate.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/NHibernate.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/Remotion.Data.Linq.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/Rhino.Mocks.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/StructureMap.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/StructureMap.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/TechTalk.SpecFlow.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/WatiN.Core.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/WatiN.Core.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/nunit.framework.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/bin/Debug/nunit.framework.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/KojackGames.Blackjack.Acceptance.Tests.csproj.CopyComplete
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/KojackGames.Blackjack.Acceptance.Tests.csproj.CoreCompileInputs.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/KojackGames.Blackjack.Acceptance.Tests.csproj.FileListAbsolute.txt
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/KojackGames.Blackjack.Acceptance.Tests.csprojAssemblyReference.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/KojackGames.Blackjack.Acceptance.Tests.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/KojackGames.Blackjack.Acceptance.Tests.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.001-BetAtTheStartOfAGame.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.002-DealCards.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.003-HitHand.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.004-StickHand.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.005-WinGame.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.006-DealerPlayingRules.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.007-DoubleStake.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.008-Split.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.009-Insurance.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.010-MemberRegistration.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.012-CashingIn.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.014-PayingOut.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.021-DeckOfCards1.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Acceptance.Tests/obj/Debug/TempPE/Features.022-MemberRegistrationData.feature.cs.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Core.Tests/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Core.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Core.Tests/obj/Debug/KojackGames.Blackjack.Core.Tests.csproj.CoreCompileInputs.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Core.Tests/obj/Debug/KojackGames.Blackjack.Core.Tests.csproj.FileListAbsolute.txt
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Core.Tests/obj/Debug/KojackGames.Blackjack.Core.Tests.csprojAssemblyReference.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/bin/Debug/KojackGames.Blackjack.Domain.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/bin/Debug/KojackGames.Blackjack.Domain.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/bin/Debug/KojackGames.Blackjack.Infrastructure.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/bin/Debug/KojackGames.Blackjack.Infrastructure.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/bin/Debug/StructureMap.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/bin/Debug/StructureMap.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/KojackGames.Blackjack.Domain.csproj.CopyComplete
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/KojackGames.Blackjack.Domain.csproj.CoreCompileInputs.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/KojackGames.Blackjack.Domain.csproj.FileListAbsolute.txt
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/KojackGames.Blackjack.Domain.csprojAssemblyReference.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/KojackGames.Blackjack.Domain.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Domain/obj/Debug/KojackGames.Blackjack.Domain.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/Iesi.Collections.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/KojackGames.Blackjack.Domain.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/KojackGames.Blackjack.Domain.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/KojackGames.Blackjack.Infrastructure.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/KojackGames.Blackjack.Infrastructure.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/NHibernate.ByteCode.Castle.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/NHibernate.ByteCode.Castle.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/NHibernate.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/NHibernate.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/Remotion.Data.Linq.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/StructureMap.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/StructureMap.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.csproj.CopyComplete
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.csproj.CoreCompileInputs.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.csproj.FileListAbsolute.txt
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.csprojAssemblyReference.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/obj/Debug/KojackGames.Blackjack.Infrastructure.Nhibernate.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/bin/Debug/KojackGames.Blackjack.Infrastructure.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/bin/Debug/KojackGames.Blackjack.Infrastructure.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/bin/Debug/StructureMap.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/bin/Debug/StructureMap.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/KojackGames.Blackjack.Infrastructure.csproj.CopyComplete
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/KojackGames.Blackjack.Infrastructure.csproj.CoreCompileInputs.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/KojackGames.Blackjack.Infrastructure.csproj.FileListAbsolute.txt
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/KojackGames.Blackjack.Infrastructure.csprojAssemblyReference.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/KojackGames.Blackjack.Infrastructure.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure/obj/Debug/KojackGames.Blackjack.Infrastructure.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Antlr3.Runtime.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Antlr3.Runtime.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.UI.Web.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.UI.Web.dll.config
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.UI.Web.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Microsoft.Web.Infrastructure.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Newtonsoft.Json.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Newtonsoft.Json.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Helpers.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Helpers.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Mvc.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Mvc.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Optimization.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Optimization.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Razor.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.Razor.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.WebPages.Deployment.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.WebPages.Deployment.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.WebPages.Razor.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.WebPages.Razor.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.WebPages.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/System.Web.WebPages.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/WebGrease.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.CSharp.Core.targets
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.CodeAnalysis.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.Managed.Core.targets
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.VisualBasic.Core.targets
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/Microsoft.Win32.Primitives.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.AppContext.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Collections.Immutable.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Console.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Diagnostics.StackTrace.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Globalization.Calendars.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.IO.Compression.ZipFile.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.IO.Compression.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.IO.FileSystem.Primitives.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.IO.FileSystem.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Net.Http.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Net.Sockets.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Reflection.Metadata.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Security.Cryptography.Encoding.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Security.Cryptography.Primitives.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Text.Encoding.CodePages.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Threading.Tasks.Extensions.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.ValueTuple.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Xml.ReaderWriter.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Xml.XPath.XDocument.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Xml.XPath.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/System.Xml.XmlDocument.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/VBCSCompiler.exe
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/VBCSCompiler.exe.config
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/csc.exe
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/csc.exe.config
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/csc.rsp
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/csi.exe
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/csi.exe.config
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/csi.rsp
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/vbc.exe
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/vbc.exe.config
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/roslyn/vbc.rsp
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/KojackGames.Blackjack.UI.Web.csproj.CopyComplete
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/KojackGames.Blackjack.UI.Web.csproj.CoreCompileInputs.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/KojackGames.Blackjack.UI.Web.csproj.FileListAbsolute.txt
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/KojackGames.Blackjack.UI.Web.csprojAssemblyReference.cache
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/KojackGames.Blackjack.UI.Web.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/KojackGames.Blackjack.UI.Web.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web1/.vs/KojackGames.Blackjack.UI.Web/v16/.suo
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/StructureMap.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/StructureMap.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Remotion.Data.Linq.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/NHibernate.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/NHibernate.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/NHibernate.ByteCode.Castle.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/NHibernate.ByteCode.Castle.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.Infrastructure.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.Infrastructure.Nhibernate.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.Infrastructure.Nhibernate.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.Infrastructure.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.Domain.pdb
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/KojackGames.Blackjack.Domain.dll
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/Iesi.Collections.dll
/Src/KojackGames.Blackjack/.vs/KojackGames.Blackjack/v16/TestStore/0/testlog.manifest
/Src/KojackGames.Blackjack/.vs/KojackGames.Blackjack/v16/TestStore/0/000.testlog
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Core.Tests/obj/Debug/build.force
/Src/KojackGames.Blackjack/KojackGames.Blackjack.Infrastructure.Nhibernate/bin/Debug/hibernate.cfg.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/bin/hibernate.cfg.xml
/Src/KojackGames.Blackjack/KojackGames.Blackjack.UI.Web/obj/Debug/DesignTimeResolveAssemblyReferences.cache
